@media only screen and (max-width:320px){
  #resultPanel{
    margin: 100px 0px 0px 0px !important;
  }
}
body{
  background-color: rgba(140, 196, 97, 1);
}

.panel{
  display: flex;
  margin: auto;
  margin-top: 60px;
  width: 800px;
  height: 158px;
  border-left: 250px;
  border-style: solid;
  border-radius: 13px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 1);
  color:white;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0.1em;
  text-align: left;
}

.score1{
  display: inline-block;
  margin-top: 15px;
  margin-left: 240px;
  border-radius: 9px;
  width: 160px;
  height: 130px;
  margin-right: 60px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(101, 101, 101, 1);
}
.panel>h1{
  margin-left: 10px;
  font-family: Roboto;
  font-weight: bold;
}
.score2{
  display: inline-block;
  margin-top: 15px;
  border-radius: 9px;
  width: 160px;
  height: 130px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(101, 101, 101, 1);
}

#computerScore{
  font-size: 35px;
  font: bold;
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  color: rgba(37, 37, 37, 1);
  font-size: 50px;
  line-height: 25px;
  font-weight: bold;
}

#yourScore{
  font-size: 35px;
  font: bold;
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  color:  rgba(37, 37, 37, 1);
  font-size: 50px;
  line-height: 25px;
  font-weight: bold;
}

.choice{
  height: 650px;
  width: 700px;
  display: flex;
  margin: auto;
}

.rock {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-top:150px;
  margin-left: 110px;
  border-radius: 60%;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(0, 116, 182, 1);
  background-color: rgba(255, 255, 255, 1);
  transition: border-width;
  cursor: pointer;
}

.rock img{
  padding:22px;
}

.line1::before {
  margin-top:210px;
  content: "";
  display: block;
  border-top: 20px solid #000000a3;
  width: 150px; 
}

.scissor{
  margin-top:150px;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-top:1000px;
  border-radius: 60%; 
  border-style: solid;
  border-width: 10px;
  border-color: rgba(189, 0, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.scissor img{
  padding: 35px;
}

.paper{
  display: inline-block;
  margin-top: 400px;
  margin-left: -280px;
  width: 140px;
  height: 140px;
  border-radius: 60%;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(255, 169, 67, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.paper img{
  padding: 23px;
}

.rules{
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 40px;
  width: 90px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color:rgba(140, 196, 97, 1); ;
  padding:5px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 15px;
}

.rules:hover {
  background-color:  white;
  color:rgba(140, 196, 97, 1);
}

#c:hover{
  border: 3px solid rgba(255, 255, 255, 1);
}

#c{
  margin-right: -36px;
  margin-top: -22px;
  float: right;
  font-size: 24px;
  border-radius: 50%;
  background-color: red;
  width: 60px;
  align-items: center;
  height: 60px;
  justify-content: center;
  border: 5px solid rgba(255, 255, 255, 1);
}

#popup{
  padding-right: 20px;
  text-align: justify;
  position: fixed;
  bottom: 55px;
  right: 30px;
  height: 355px;
  width: 278px;
  display: none;
  border-style: solid;
  border-width: 5px;
  border-radius: 12px;
  border-color: white;
  background-color: rgba(0, 68, 41, 1);
}
ul {
  list-style: none;
}
ul li::before {
  content: "\25A0";
  color:  rgba(255, 214, 0, 1);
  display: inline; 
  width: 1em;
}

li p{
  color: white;
  font-size: 13px;
  display: inline;
  line-height: 15px;
}

.hidden {
  display: none;
}

#replay{
  width: 120px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  font: Roboto;
  color: rgba(107, 107, 107, 1);
  border-radius: 5px;
  font-size: 15px;
  border: none;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  transition-duration: 0.4s;
}

#replay:hover{
  color: white;
  background-color: rgba(140, 196, 97, 1);
  border-color: white;
}

.image1{
    margin-left: 45px;
}

.image1, .image2{
  border: 5px;
  border-style: solid;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 60%; 
  border-width: 12px;
  justify-content: center;
  background-color: white;
  margin: 75px 0px 0px 75px;
}

.image1 img{
  margin-top: 30px;
}

.image2 img{
  margin-top: 30px;
} 

.circle{
  border-radius: 60%;
  position: absolute; 
  z-index: -1;
}

.outer{
  width: 300px;
  height: 300px;
  background-color: rgba(46, 154, 37, 0.39);
}

.middle{
  width: 250px;
  height: 250px;
  background-color: rgba(29, 168, 43, 0.79);
  transform: translate(10%, 10%);
}

.inner{
  width: 200px;
  height: 200px;
  background-color: rgba(59, 103, 32, 1);
  transform: translate(25%, 25%);
}

.comment{
  margin-left: 25px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
}

#yourChoice, #pcChoice{
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-style: bold;
  font-size: 17px;
  text-align: center;
}

#content{
  font-family: Roboto;
  font-size: 39px;
  color: rgba(255, 255, 255, 1);
}

#content1{
  font-family: Roboto;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
}

#resultPanel{
  display: flex;
  margin: 100px 0px 0px 270px;
  width: 900px;
  height: 300px;
}

#col1, #col2, #col3, #yourChoice, #pcChoice, #blank{
  width: 300px;
  height: 300px;
}

#picker{
  margin: -272px 0px 0px 250px;
  display: flex;
  width: 900px;
  height: 20px;
  z-index: -1;
}

.line{
  width: 260px;
  height: 0px;
  border: 10px solid #000000a3;
}

.leftLine{
  transform: rotate(60deg);
  position: relative;
  right: 54px;
  top: 104px;
}

.rightLine{
  transform: rotate(120deg);
  position: relative;
  left: 74px;
  top: 82px;
}